body{
    //background: #FF00FF;
}
a{
    text-decoration: none;
}

// Responsive image grid
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.photo-cell {
    width: 50%;
}
.photo-cell img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 1000px) {
  .photo-cell {
    width: calc(100% / 3);
    margin: .2em;
  }
}
@media screen and (min-width: 600px) {
  .photo-cell {
    width: calc(50% - .5rem);
    margin: .2em;
  }
}

@media screen and (min-width: 1000px) {
  .photo-cell {
    width: calc(33.3333% - .5rem);
    margin: .2em;
  }
}